

#search-bar {
    display: flex;
    justify-content: center;
    height: 30px;
}

body {
    background-color: thistle;

}

.input-group {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

h1 {
    display: flex;
    justify-content: center;
}

